@model Stream

<div class="container my-5" >
    <div class="row align-items-center">
        <div class="col-12">
            <div class="row">
                <div class="col-1">
                    <h5 class="">@Model.StreamID</h5>
                </div>
                <div class="col-3">
                    <h5 class="">@Model.StreamUrl</h5>
                </div>
            </div>
        </div>
    </div>
</div>

    