@model Photo

<div class="container my-5">
    <div class="row text-center justify-content-left align-items-center">
        <div class="col-1 ">
                    <h5 class="">@Model.PhotoID</h5>
        </div>
        <div class="col-3 ">
            <img class="card-img-top" src="~/img/@Model.PhotoImageUrl" alt="">
        </div>
    </div>
</div>

  