@model Algan.WebUi.Models.ContactModel
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class=" mb-2">
                <h5 class="">@Model.FullName</h5>
                <h5 class="">@Model.Email</h5>
                <h5 class="">@Model.Topic</h5>
                <h5 class="">@Model.Message</h5>
            </div>     
        </div>
    </div>
</div>
