@model Algan.WebUi.Models.MissionModel


<div class="container my-5">
        <div class="row mb-2 text-center">
                <div class="col-12 baslik baslikBoyutu ">
                        <h1>Misyonumuz</h1>
                </div>
                <div class="col-12 yazi yaziBoyutu">
                        @Html.Raw(Model.MissionText)
                </div>
        </div> 
</div>
