<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    
</head>
<body>
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <a href="/admin/stream" class="w3-bar-item w3-button my-2">Stream</a>
        <a href="/admin/mission" class="w3-bar-item w3-button my-2">Misyon</a>
        <a href="/admin/vision" class="w3-bar-item w3-button my-2">Vizyon</a>
        <a href="/admin/person" class="w3-bar-item w3-button my-2">Ekip</a>
        <a href="/admin/sponsor" class="w3-bar-item w3-button my-2">Sponsor</a>
        <a href="/admin/project" class="w3-bar-item w3-button my-2">Projeler</a>
        <a href="/admin/photos" class="w3-bar-item w3-button my-2">Fotoğraf Galerisi</a>
        <a href="/admin/contact" class="w3-bar-item w3-button my-2">İletişim</a>
        <a href="/admin/footer" class="w3-bar-item w3-button my-2">Footer</a>
        <a href="/admin/aboutus" class="w3-bar-item w3-button my-2">Hakkımızda</a>
        <a href="/account/register" class="w3-bar-item w3-button my-2">Üyelik</a>

    </div>
</body>
</html>

