<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger">
                No Person  
            </div>
        </div>
    </div>
</div>
