@model Algan.WebUi.Models.PersonModel
<div class="row m-0">
        <div class="col-12  yazi yaziBoyutu text-center">
            <div class="mb-2">
                <img class="radius" src="~/img/@Model.PersonPhoto" alt="">
                    <div class="row">
                        <div class="col-12">@Model.PersonFullName</div>
                        <div class="col-12">@Model.PersonUniversity</div>
                        <div class="col-12">@Model.PersonUniversityDepartmant</div>
                        <div class="col-12">@Model.PersonJob</div>

                    </div>
                   
            </div>
        </div>
</div>
