@model Algan.WebUi.Models.PhotoModel
<div class="container my-5">
    <div class="row text-center">
        <div class="col-12 mb-2 ">
                <img class="PhotoSlider" src="~/img/@Model.PhotoImageUrl" alt=""> 
        </div>
    </div>
</div>
