@model Algan.WebUi.Models.SponsorModel
<div class="container my-5">
    <div class="row">
        <div class="col-12  yazi yaziBoyutu">
            <div class=" mb-2">
                <a href="@Model.SponsorUrl" target="_blank">
                    <img class="radius" src="~/img/@Model.SponsorLogo" alt="">
                </a>
                    <h5 class="">@Model.SponsorName</h5>
                    <h5 class="">@Model.SponsorTitle</h5> 
            </div>     
        </div>
    </div>
</div>
