@model Project

<div class="container">
        <div class="row my-5 text-center justify-content-center align-items-center">
                <div class="col-12 my-5 projectDetailBaslik">
                    <h1>@Model.ProjectName</h1>
                </div>
                <div class="col-12">
                    <div class="row row justify-content-center align-items-center">
                        <div class="col-6 my-5 text-center projectDetailYazi">
                            <p>@Html.Raw(Model.ProjectDescription)</p>  
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="~/img/@Model.ProjectPhoto" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <iframe width="1040" height="600" src="https://www.youtube.com/embed/@Model.ProjectYoutubeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
        </div>
</div>