@model Algan.WebUi.Models.ViewModels.AdminViewModel

@{
  Layout="~/Views/Shared/_AdminLayout.cshtml";
} 

    





@* <!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 5;
  padding: 5;
  width: 60px;
} 

li a {
  display: block;
  color : white;
}
a:link {
  color: white; 
}
a:visited {
  color: white;
}
a:hover {
  color : #dcdcdc ;
}
a:active {
  color: #c6e2ff;
}
.genislik{
  weight:50px;
}
</style>
</head>
<body>
 
  <div class="col-4"> 
    <button type="button" class="btn btn-dark mt-5">
      <a href="/admin/stream" class="nav-link" >Stream Link</a>
    </button>
  </div>

  <div class="col-4">
    <button type="button" class="btn btn-dark mt-5">
      <a href="/admin/mission" class="nav-link" >Misyon</a>
    </button>
  </div>

  <div class="col-4">
    <button type="button" class="btn btn-dark mt-5">
      <a href="/admin/vision" class="nav-link" >Vizyon</a>
    </button>
  </div>

  <div class="col-4">
    <button type="button" class="btn btn-dark mt-5">
      <a href="/admin/person" class="nav-link" >Ekip</a>
    </button>
  </div>

  <div class="col-4">
    <button type="button" class="btn btn-dark mt-5">
      <a href="/admin/sponsor" class="nav-link" >Sponsor</a>
    </button>
  </div>

  <div class="col-4">
    <button type="button" class="btn btn-dark mt-5">
      <a href="/admin/project" class="nav-link" >Projeler</a>
    </button>
  </div>

  <div class="col-4">
    <button type="button" class="btn btn-dark mt-5">
      <a href="/admin/photos" class="nav-link" >Fotoğraf Galerisi</a>
    </button>
  </div>

  <div class="col-4">
    <button type="button" class="btn btn-dark mt-5">
      <a href="/admin/contact" class="nav-link" >İletişim</a> 
    </button>
  </div>

  <div class="col-4">
    <button type="button" class="btn btn-dark mt-5">
      <a href="/admin/footer" class="nav-link" >Footer</a>
    </button>
  </div>

  <div class="col-4">
    <button type="button" class="btn btn-dark mt-5">
      <a href="/admin/aboutus" class="nav-link" >Hakkımızda</a>
    </button>
  </div>


</body>
</html>  *@
