@model VisionModel

<div class="row">
    <div class="col-2">
        @await Html.PartialAsync("_navbarAdmin") 
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col-md-8">
                <form asp-controller="Admin" asp-action ="CreateVision" method="POST">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label asp-for="VisionText" class="col-form-label">Vizyon :</label>
                        </div>
                        <div class="col-auto">
                            <textarea id="editor" type="text"  class="form-control" asp-for="VisionText"></textarea>
                            <span asp-validation-for = "VisionText" class="text-danger"></span>
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="/modules/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
}