@model Algan.WebUi.Models.ViewModels.FooterViewModel

<div class="row">
    <div class="col-2">
        @await Html.PartialAsync("_navbarAdmin") 
    </div>
    <div class="col-10">
        <div class="col-12 my-5">
            <button type="button" class="btn btn-dark">
                <a href="/admin/createfooter" class="nav-link" >Footer Ekle</a>
            </button>
        </div>

        @if(Model.AdminFooters.Count() == 0)
        {
            @await Html.PartialAsync("_nofooter")
        }
        else
        {              
                @foreach (var footer in Model.AdminFooters)
                {    
                    <div class="col-12">
                        @await Html.PartialAsync("_adminFooter",footer)
                    </div>       
                    <a href="/admin/editfooter/@footer.FooterID" class="btn btn-danger btn-sm mr-2">Güncelle</a> 
                    
                    <form action="/admin/deletefooter" method="POST" style="display: inline;">
                        <input type="hidden" name="FooterID" value="@footer.FooterID">
                        <button type="submit" class="btn btn-danger btn-sm" >Sil</button>
                    </form>
                }   
        }
    </div>
</div>
